# Python
__pycache__/
.pytest_cache/
.coverage
.venv/
.ruff_cache/
.taskulus.override.yml
.env

# Rust
rust/target/

# Taskulus
project/.cache/
tools/tmp/
tools/tmp/*
tmp/
coverage-python/
python/coverage.xml
rust/cobertura.xml

# Docs
site/

# Node / Gatsby
node_modules/
.cache/
public/
